[flake8]
max-line-length = 150
max-complexity = 10
extend-ignore = E203, W503
exclude =
    .git,
    __pycache__,
    venv,
    .venv,
    build,
    dist,
    .eggs,
    .github,
    tests/__pycache__,
    .pytest_cache,
    .mypy_cache,
    .tox,
    data
statistics = True
count = True
show-source = True
